body {
  margin: 0;
  padding: 0;
}

canvas {
  height: 100vh !important;
  position: relative;
  z-index: 1;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  background-color: white;
  height: 100%;
  width: 100%;
}

.App__lightToDark-animate {
  animation-name: lightToDark;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.App__darkToLight-animate {
  animation-name: darkToLight;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes lightToDark {
from {background-color: white; color: black;}
to { background-color: black; color: white;}
}

@keyframes darkToLight {
from {background-color: black; color: white;}
to { background-color: white; color: black;}
}

.clock {
  z-index: 2;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: xx-large;
}