body {
    margin: 0;
    padding: 0;

}

canvas {
  height: 100vh !important;
}

.App {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.App__lightToDark-animate {
  animation-name: lightToDark;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.App__darkToLight-animate {
  animation-name: darkToLight;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes lightToDark {
from {background-color: white; color: black;}
to { background-color: black; color: white;}
}

@keyframes darkToLight {
from {background-color: black; color: white;}
to { background-color: white; color: black;}
}
